{% extends "base.html" %}
{% load site_tags %}

{% block content %}
    <div id="json-container-1" style="display: none;">
        [
            {
                "title": "Section 1",
                "questions": [
                    {
                        "title": "Why did you build this?",
                        "text": "{{ "<p style='margin: 0;'>I built this as a tool for my current job.</p>"|replace_entities }}"
                    },
                    {
                        "title": "What did you use?",
                        "text": "{{ "<p style='margin: 0;'>I used Vue and npm to create this plugin.</p>"|replace_entities }}"
                    }
                ]
            },
            {
                "title": "Section 2",
                "questions": [
                    {
                        "title": "Another Question",
                        "text": "{{ "<p>Hello!</p>"|replace_entities }}"
                    }
                ]
            }
        ]
    </div>
    <div class="container">
        <div class="rich-text">
            <h2>I'm A Developer</h2>
            <p>I write stuff like this...</p></div>   

            <code>
                <div class="highlight"><pre class="javascript"><span></span><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">"Hello World!"</span><span class="p">);</span>
                </pre></div>
            </code>

            <div class="rich-text"><p>On a serious note, I primarily live in the front-end coding world.</p>
                <p>I love Vue and building cool npm modules with it.</p>
            </div>   
        </div>

    <div id="faq">
        <div class="row">
            <div class="container">
                <div class="faq-component-container">
                    <faq-container jsoncontainer="json-container-1" urldisabled="true" inline-template>
                        <div>
                            <div class="hide-on-small-only">
                                <div class="row">
                                    <div class="col s12">
                                        <div>
                                            <search-form>
                                                <h4 slot="faq-header">Frequently Asked Questions</h4>
                                            </search-form>     
                                        </div>     
                                    </div>  
                                </div>    
                            </div>

                            <div class="show-on-small">
                                <div class="row">
                                    <div class="col s12">
                                        <category-select></category-select> 
                                    </div>   
                                </div>
                            </div>

                            <suggestion>
                                <h4 slot="faq-no-results" class="no-results">No results found for </h4>
                            </suggestion>

                            <div class="bottom-section">
                                <div class="row">
                                    <div class="col m3 hide-on-small-only">
                                        <category></category>
                                    </div>
                                    <div class="col s9">
                                        <question :left="true" :inactive="'fa fa-chevron-right'" :active="'fa fa-chevron-right open'"></question> 
                                    </div>    
                                </div>    
                            </div>
                        </div>
                    </faq-container>
                </div>
            </div>
        </div>
    </div>
{% endblock %}