{% extends "base.html" %}
{% load site_tags %}

{% block content %}
    <div id="json-container-1" class="hidden">
        [
            {
                "title": "Section 1",
                "questions": [
                    {
                        "title": "Why did you build this?",
                        "text": "{{ "<p>I built this as a tool for my current job.</p>"|replace_entities }}"
                    },
                    {
                        "title": "What did you use?",
                        "text": "{{ "<p>I used Vue and npm to create this plugin.</p>"|replace_entities }}"
                    }
                ]
            },
            {
                "title": "Section 2",
                "questions": [
                    {
                        "title": "Another Question",
                        "text": "{{ "<p>Hello!</p>"|replace_entities }}"
                    }
                ]
            }
        ]
    </div>

    {% include "sitewide/streamfields.html" %}
{% endblock %}