{% load pygmentify_tags %}

{% for block in self.body %}
    {% if block.block_type == 'code' %}
        {% pygmentify %}
            <code>
                <pre class="{{ block.value.language }}">{{ block.value.code }}</pre>
            </code>
        {% endpygmentify %}
    
    {% elif block.block_type == 'raw_code' %}
        {{ block.value.code }}

    {% elif block.block_type == 'image' %}

        <img class="img img-responsive" src="{{ block.value.image.file.url }}" alt="{{ block.value.image.title }}" />

    {% else %}
    
    {{ block.value }}    
        
        
    {% endif %}
{% endfor %}