{% load pygmentify_tags %}

{% for block in self.body %}
    {% if block.block_type == 'code' %}
        {% pygmentify %}
            <code>
                <pre class="{{ block.value.language }}">{{ block.value.code }}</pre>
            </code>
        {% endpygmentify %}
        
        {% comment %}
        <code class="{% if block.value.language == 'html' %} language-markup {% else %} language-{{ block.value.language }} {% endif %}">
            <pre class="{% if block.value.language == 'html' %} language-markup {% else %} language-{{ block.value.language }} {% endif %}">{{ block.value.code }}</pre>
        </code>
        {% endcomment %}


    {% elif block.block_type == 'raw_code' %}
        {{ block.value.code }}

    {% elif block.block_type == 'image' %}

        <img class="img img-responsive" src="{{ block.value.image.file.url }}" alt="{{ block.value.image.title }}" />

    {% else %}
    {% pygmentify %}
        {{ block.value }} 
    {% endpygmentify %}   
        
        
    {% endif %}
{% endfor %}