{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ page.title }}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>

        {% for post in page.get_children %}
            <div class="row">
                <div class="col-md-3">
                    {% if post.specific.main_image.file.url %}
                        <img class="img img-responsive" src="{{ post.specific.main_image.file.url }}" alt="{{ post.specific.main_image.file.title }}">
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                {{ post.specific.intro }}     
                </div>
            </div>
        {% endfor %}    
    </div>
{% endblock %}