{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load pygmentify_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col m10">
                <div>
                    {% if page.main_image.file.url %}
                        <div class="blog-banner" style="max-height: 400px; overflow: hidden; padding-top: 40px;">
                            <img class="img img-responsive" src="{{ page.main_image.file.url  }}" alt="{{ page.main_image.title }}" />
                        </div>
                    {% endif %}


                    <h2>{{ page.title }}</h2>
                    <p class="meta">{{ page.date }}</p>
                    <div class="intro">{{ page.intro }}</div>

                    {% pygmentify %}
                        <p>This is part two of getting to know webpack. Here is the github repo for it if you already went through it.</p>
                        <p>#</p>
                    {% endpygmentify %}

                    <p><a href="{% slugurl 'blog' %}">Return to blog</a></p>  
                </div>  
            </div>
            <div class="col m2">
                {% include "blog/partials/category-sidebar.html" %}   
            </div>
        </div>
    </div>
{% endblock %}