{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
      {% if request.GET.tag|length %}
          <h2>Showing pages tagged "{{ request.GET.tag }}"</h2>
      {% endif %}

      {% for blogpage in blogpages %}
            <div class="blog-category-item">
                <h3><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h3>
                <small>Revised: {{ blogpage.latest_revision_created_at }}</small>
                {% if blogpage.author %}
                  <p>By {{ blogpage.author.profile }}</p>
                {% endif %}
            </div>

      {% empty %}
          No pages found with that tag.
      {% endfor %}  
    </div>
    

{% endblock %}