{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-lg">{{ page.title }}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>

        {% for b in blog_posts %}
            {% include "blog/partials/blog-item.html" with b=b %}
        {% endfor %}

        {% include "sitewide/blog_pagination.html" with blog_posts=blog_posts %}
    </div>
{% endblock %}