{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-10">
            {% if page.main_image.file.url %}
                <div class="blog-banner" style="max-height: 400px; overflow: hidden; padding-top: 40px;">
                    <img class="img img-responsive" src="{{ page.main_image.file.url  }}" alt="{{ page.main_image.title }}" />
                </div>
            {% endif %}

            <h1>{{ page.title }}</h1>
            <p class="meta">{{ page.date }}</p>

            <div class="intro">{{ page.intro }}</div>
            
            {% include "sitewide/streamfields.html" %}       
            <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>     
        </div>
        <div class="col-md-2">
            <h3>Categories</h3>
            {% for c in page.categories.all %}
                {{ c }}
            {% endfor %}
            {% if page.tags.all.count %}
                <div class="tags">
                    <h3>Tags</h3>
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}    
        </div>
         
    </div>
    

{% endblock %}