<nav-wrapper inline-template>
    <div>
        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper blue-grey darken-4">
                <div class="container">
                    <div class="row">
                        <ul>
                          {% for l in header.links %}
                            <li><a href="{{ l.value.link.url }}">{{ l.value.text }}</a></li>    
                          {% endfor %}
                        </ul>
                        <ul class="right show-on-small">
                            <li @click="toggleSideBar">
                                <a class="hamburger">
                                <p class="bar"></p>
                                <p class="bar"></p>
                                <p class="bar"></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            </nav>
          </div>

        <div class="mobile-nav-overlay-cancel" :class="{reveal: sidebar}" @click="toggleSideBar"></div>

        <div id="mySidenav" class="sidenav blue-grey darken-4" :class="{'sidenav-open': sidebar}">
            <div class="sidenav-inner">
                <a class="closeBtn" @click="toggleSideBar">&times;</a>
                <ul class="list-unstyled">
                    {% for l in header.links %}
                        <li><a href="{{ l.value.link.url }}">{{ l.value.text }}</a></li>    
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav-wrapper>