.contact-form {
    .input-item {
        width: 100%;
        border-radius: 2px;
        outline: none;
        border: 1px solid #ddd;
        padding: 5px;
    }

    .has-error {
        .input-item {
            border: 1px solid #a94442;
        }
    }

    .pending {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 1;
    }
}