// bootstrap variable needed to load fonts
// $font-size-base: 16px;
// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize";
@import "./utils/import";
@import "./layout/import";
@import "./components/import";
@import "./pages/import";

body {
    // margin-top: 70px;
    color: #555;
}

img {
    max-width: 100%;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

[v-cloak] {
    display: none;
}